<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration>-->
<!--    <Appenders>-->
<!--        <Socket name="Socket" host="localhost" port="8080">-->
<!--            <JsonLayout compact="true" eventEol="true" />-->
<!--        </Socket>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Root level="info">-->
<!--            <AppenderRef ref="Socket"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->